__pycache__
*.h5
*.log
*.h5m
*.xml
*.out
n_flux_*
mse.png
similarity.png
*.err
*~
# demo_collimator
demo_collimator/results/*.png
demo_collimator/geometry/dagopenmc/*.h5m
demo_collimator/geometry/dagopenmc/*.trelis
# FNG
FNG/results/*.png
FNG/geometry/dagopenmc/*.h5m
FNG/geometry/dagopenmc/*.trelis

# exception
!FNG/geometry/openmc/*.xml
!FNG/openmc_run/*.xml
!FNG/dagopenmc_run/*.xml
!FNG/*openmc_run/job*
